body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(107, 3, 177);
    color: white;
    padding: 1rem;
    text-align: center;
}

nav button {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    border: none;
    background: white;
    color:rgb(107, 3, 177);;
    cursor: pointer;
    font-weight: bold;
}

nav button:hover {
    background: #ddd;
}

#temple-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.temple-card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

footer {
    background:  rgb(107, 3, 177);;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #temple-cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) {
    nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}