

* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Roboto', sans-serif; background-color: #f4f4f4; }

header, footer {
    background-color: #4b0082; 
    color: white;
    padding: 1rem;
    text-align: center;
}



#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute ;
	top:1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	background-color: #4b0082;
	color: #fff;
}

 .navigation.open a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* .navigation.open a {
    display: block;
} */


.navigation a:hover {
	background-color: #904ec0;
	color: #c098dd;
	font-weight: 700;
}


.open a {
	display: block;
}



main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

h2 { text-align: center; margin: 1rem 0; color: #333; }

.temple-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

figure {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

img {
    width: 100%; 
    height: auto; 
    display: block;
}

figcaption {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}