@media (min-width: 37.5em) {
    #menu { display: none; } /* Hide hamburger on desktop */

    .navigation {
        display: flex; /* Always show menu on desktop */
        flex-direction: row;
        justify-content: center;
    }

    .navigation a { border-bottom: none; }

    /* 3 Columns for Desktop */
    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}